In [26]:
import pandas as pd
df  = pd.read_csv('PastHires.csv')
df.sample(6)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
10,1,N,1,PhD,Y,N,N
3,2,Y,1,MS,Y,N,Y
2,7,N,6,BS,N,N,N
7,3,N,1,BS,N,Y,Y
11,4,Y,1,BS,N,Y,Y
4,20,N,2,PhD,Y,N,N

In [25]:
# #loe= pd.get_dummies(df['Level of Education'])
# #df = pd.concat([df,loe],axis=1)
# df.drop(['Level of Education'],inplace=True,axis=1)

In [27]:
df.sample(5)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
4,20,N,2,PhD,Y,N,N
8,15,Y,5,BS,N,N,Y
2,7,N,6,BS,N,N,N
7,3,N,1,BS,N,Y,Y
1,0,N,0,BS,Y,Y,Y

In [30]:
df.replace({'Employed?':{'Y':0,'N':1},'Top-tier school':{'Y':0,'N':1},'Interned':{'Y':0,'N':1},'Hired':{'Y':0,'N':1},'Level of Education':{'BS':0,'MS':1,'PhD':2}},inplace=True)

In [31]:
df.sample(5)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
9,0,1,0,0,1,1,1
11,4,0,1,0,1,0,0
4,20,1,2,2,0,1,1
7,3,1,1,0,1,0,0
10,1,1,1,2,0,1,1

In [32]:
features = list(df.columns[:6])
features

['Years Experience',
 'Employed?',
 'Previous employers',
 'Level of Education',
 'Top-tier school',
 'Interned']

In [34]:
from sklearn import tree
y = df['Hired']
x = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [57]:
from IPython.display import Image
from sklearn.externals.six import StringIO
import pydotplus

dot_data = StringIO()
tree.export_graphviz(clf,out_file,feature_names=features)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

NameError: name 'out_file' is not defined

In [56]:
from sklearn.ensemble import RandomForestClassifier

clf2 = RandomForestClassifier(n_estimators=10)
clf2 = clf2.fit(x,y)

print(clf2.predict([[10,1,4,0,1,0]]))
print(clf2.predict([[0,1,4,2,0,0]]))

[0]
[0]

In [40]:
df2 = pd.read_csv('prepdata.csv')
df2.sample(5)

,NAME,PERCENTAGE,BACKLOG,INTERNSHIP,FIRSTROUND,COMMUNICATIONSKILLLS,Hired
12,Arushi Bhalla,65,2,3,90,80,1
188,Yuzi Chahal,94,0,1,82,81,1
293,Yu,81,0,1,100,68,0
122,Bhanu K.,65,1,0,78,60,1
152,naveen,77,1,3,88,75,1

In [45]:
f2 = list(df2.columns[1:6])
f2

['PERCENTAGE', 'BACKLOG', 'INTERNSHIP', 'FIRSTROUND', 'COMMUNICATIONSKILLLS']

In [49]:
X = df2[f2]
Y = df2['Hired']

In [50]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [51]:
from sklearn.ensemble import RandomForestClassifier

clf2 = RandomForestClassifier(n_estimators=10)
clf2 = clf2.fit(X,Y)

In [53]:
print(clf2.predict([[50,3,0,67,78]]))

[0]

In [54]:
print(clf2.predict([[90,0,4,89,78]]))

[1]

In [ ]:
import os
import io
import numpy
from pandas import DataFrame
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

def readFiles(path):
    for root, dirnames, filenames in os.walk(path):
        for filename in filenames:
            path = os.path.join(root, filename)

            inBody = False
            lines = []
            f = io.open(path, 'r', encoding='latin1')
            for line in f:
                if inBody:
                    lines.append(line)
                elif line == '\n':
                    inBody = True
            f.close()
            message = '\n'.join(lines)
            yield path, message


def dataFrameFromDirectory(path, classification):
    rows = []
    index = []
    for filename, message in readFiles(path):
        rows.append({'message': message, 'class': classification})
        index.append(filename)

    return DataFrame(rows, index=index)

data = DataFrame({'message': [], 'class': []})

data = data.append(dataFrameFromDirectory('e:/sundog-consult/Udemy/DataScience/emails/spam', 'spam'))
data = data.append(dataFrameFromDirectory('e:/sundog-consult/Udemy/DataScience/emails/ham', 'ham'))